.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  /* align-items: left; */
  padding-left: 50px;
  font-size: 1.5em;
  color: white;
}

.modal-container {
  width: 750px;
  height: 225px;
  position: relative;
}

.modalf {
  padding: 0;
}